<%- include('../includes/header.ejs') %>
  <link rel="stylesheet" href="/css/forms.css">
  <link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('../includes/nav.ejs') %>

  <main>
    <%- include('../includes/flash-msg.ejs') %>
    <form class="product-form" action="/admin/<%= locals.editMode ? 'edit' : 'add' %>-product" method="POST" enctype="multipart/form-data">
      <div class="form-control">
        <label for="name">Name</label>
        <input
          class="<%= locals.validationErrors && validationErrors.find(e => e.param === 'product.name') && 'invalid' %>"
          type="text"
          name="product[name]"
          id="name"
          value="<%= (locals.editMode || locals.hasError) && product.name %>"
        >
      </div>
      <!--<div class="form-control">
        <label for="imageUrl">Image URL</label>
        <input
          class="<%= locals.validationErrors && validationErrors.find(e => e.param === 'product.imageUrl') && 'invalid' %>"
          type="text"
          name="product[imageUrl]"
          id="imageUrl"
          value="<%= (locals.editMode || locals.hasError) && product.imageUrl %>"
        >
      </div>-->
      <div class="form-control">
        <label for="image">Image</label>
        <input
          type="file"
          name="image"
          id="image"
        >
      </div>
      <div class="form-control">
        <label for="price">Price</label>
        <input
          class="<%= locals.validationErrors && validationErrors.find(e => e.param === 'product.price') && 'invalid' %>"
          type="number"
          name="product[price]"
          id="price" step="0.01"
          value="<%= (locals.editMode || locals.hasError) && product.price %>"
        >
      </div>
      <div class="form-control">
        <label for="description">Description</label>
        <textarea
          class="<%= locals.validationErrors && validationErrors.find(e => e.param === 'product.description') && 'invalid' %>"
          name="product[description]"
          id="description"
          rows="5"
        ><%= (locals.editMode || locals.hasError) && product.description %>
        </textarea>
      </div>
      <% if(locals.editMode) { %><input type="hidden" name="productId" value="<%= product._id %>"><% } %>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button class="btn" type="submit"><%= locals.editMode ? 'Update' : 'Add' %> Product</button>
    </form>
  </main>
<%- include('../includes/footer.ejs') %>