<%- include('../includes/header.ejs') %>
  <link rel="stylesheet" href="/css/cart.css">
  </head>

  <body>
    <%- include('../includes/nav.ejs') %>
    <main>
      <% if(products.length) { %>
        <ul class="cart__item-list">
          <% products.forEach(({ product, quantity }) => { %>
            <li class="cart__item">
              <h1><%= product.name %></h1>
              <h2><%= quantity %></h2>
              <form action="/remove-cart-item" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="productId" value="<%= product._id %>">
                <button type="submit" class="btn">Remove from Cart</button>
              </form>
            </li>
          <% }); %>
        </ul>
        <hr>
        <div class="centered">
          <!-- <form action="/create-order" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn">Place Order</button>
          </form> -->
          <a class="btn" href="/checkout">Order Now</a>
        </div>
      <% } else { %>
        <div class="centered">
          <h1>Your cart is empty</h1>
        </div>
      <% } %>
    </main>
    <%- include('../includes/footer.ejs') %>