<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/orders.css">
  </head>

  <body>
    <%- include('../includes/nav.ejs') %>
    <main>
      <% if(!orders.length) { %>
        <div class="centered"><h1>Nothing there!</h1></div>
      <% } else { %>
        <ul class="orders">
          <% orders.forEach(order => { %>
            <li class="orders__item">
              <h1>Order - # <%= order._id %></h1>
                <ul class="orders__products">
                  <% order.items.forEach(item => { %>
                    <li class="orders__products-item"><%= item.name %> (<%= item.qty %>)</li>
                  <% }); %>
                </ul>
            </li>
          <% }); %>
        </ul>
      <% } %>
    </main>
    <%- include('../includes/footer.ejs') %>